In [35]:
import datetime as dt

In [36]:
dt.date(2025,5,12)

datetime.date(2025, 5, 12)

In [37]:
dt.datetime(2025,5, 12, 0, 0)

datetime.datetime(2025, 5, 12, 0, 0)

In [38]:
dt.date.today()

datetime.date(2025, 5, 12)

In [39]:
dt.datetime.today() # 시간정보까지

datetime.datetime(2025, 5, 12, 12, 43, 17, 185340)

In [40]:
dt.datetime.strptime('20250525', '%Y%m%d')

datetime.datetime(2025, 5, 25, 0, 0)

In [41]:
from dateutil import parser

In [42]:
date = parser.parse("4th of July, 2021")
date

datetime.datetime(2021, 7, 4, 0, 0)

In [43]:
date.strftime('%A')

'Sunday'

In [44]:
parser.parse('20250512')

datetime.datetime(2025, 5, 12, 0, 0)

In [45]:
dt.date.today().strftime('%Y%m%d')

'20250512'

In [46]:
dt.date.today() + range(30)

TypeError: unsupported operand type(s) for +: 'datetime.date' and 'range'

In [47]:
def f(x):
    return 2*x + 1

In [ ]:
import numpy as np

In [49]:
d = np.array(['2025-05-12'], np.datetime64)
d + range(30)

array(['2025-05-12', '2025-05-13', '2025-05-14', '2025-05-15',
       '2025-05-16', '2025-05-17', '2025-05-18', '2025-05-19',
       '2025-05-20', '2025-05-21', '2025-05-22', '2025-05-23',
       '2025-05-24', '2025-05-25', '2025-05-26', '2025-05-27',
       '2025-05-28', '2025-05-29', '2025-05-30', '2025-05-31',
       '2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04',
       '2025-06-05', '2025-06-06', '2025-06-07', '2025-06-08',
       '2025-06-09', '2025-06-10'], dtype='datetime64[D]')

In [50]:
import pandas as pd

In [51]:
index = pd.DatetimeIndex(["2020-07-04", "2020-08-04", "2021-07-04", "2021-08-04"])
data = pd.Series([0, 1, 2, 3], index=index)
data

2020-07-04    0
2020-08-04    1
2021-07-04    2
2021-08-04    3
dtype: int64

In [52]:
data['2020-07-04':'2021-07-04']

2020-07-04    0
2020-08-04    1
2021-07-04    2
dtype: int64

In [53]:
data['2021']

2021-07-04    2
2021-08-04    3
dtype: int64

In [ ]:
from datetime import datetime

In [68]:
dates = pd.to_datetime([datetime(2021, 7, 3), '4th of July, 2021', 
                        '2021-Jul-6', '07-07-2021', '20210708'])
dates

DatetimeIndex(['2021-07-03', '2021-07-04', '2021-07-06', '2021-07-07',
               '2021-07-08'],
              dtype='datetime64[ns]', freq=None)

In [62]:
dates.to_period('D')

PeriodIndex(['2021-07-03', '2021-07-04', '2021-07-06', '2021-07-07',
             '2021-07-08'],
            dtype='period[D]')

In [69]:
dates - dates[0]

TimedeltaIndex(['0 days', '1 days', '3 days', '4 days', '5 days'], dtype='timedelta64[ns]', freq=None)

In [ ]:
pd.date_range('2015-07-03', '2015-07-10')   # 시작 ~ 종료

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range('2015-07-03', periods=8)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range('2015-07-03', periods=8, freq='H')

C:\Users\user\AppData\Local\Temp\ipykernel_17448\3521404607.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range('2015-07-03', periods=8, freq='H')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00'],
              dtype='datetime64[ns]', freq='h')

In [76]:
pd.period_range('2015-07', periods=8, freq='M')

PeriodIndex(['2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
             '2016-01', '2016-02'],
            dtype='period[M]')

In [77]:
pd.timedelta_range(0, periods=10, freq='H')

C:\Users\user\AppData\Local\Temp\ipykernel_17448\3928887474.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.timedelta_range(0, periods=10, freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='h')

In [79]:
pd.timedelta_range(0, periods=9, freq='2H30T')

C:\Users\user\AppData\Local\Temp\ipykernel_17448\707367729.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.timedelta_range(0, periods=9, freq='2H30T')
C:\Users\user\AppData\Local\Temp\ipykernel_17448\707367729.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  pd.timedelta_range(0, periods=9, freq='2H30T')

TimedeltaIndex(['0 days 00:00:00', '0 days 02:30:00', '0 days 05:00:00',
                '0 days 07:30:00', '0 days 10:00:00', '0 days 12:30:00',
                '0 days 15:00:00', '0 days 17:30:00', '0 days 20:00:00'],
               dtype='timedelta64[ns]', freq='150min')

In [ ]:
from pandas.tseries.offsets import BDay # Business Day

In [ ]:
pd.date_range('2015-07-01', periods=10, freq=BDay())    # 업무일만 가져오기

DatetimeIndex(['2015-07-01', '2015-07-02', '2015-07-03', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10',
               '2015-07-13', '2015-07-14'],
              dtype='datetime64[ns]', freq='B')

In [85]:
from pandas_datareader import data
import yfinance as yf

In [91]:
yf.pdr_override()
df = data.DataReader('AAPL', start='2021-01-01', end='2021-12-31')

Failed to get ticker 'AAPL' reason: Expecting value: line 1 column 1 (char 0)
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['AAPL']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [92]:
yf.download('MSFT', period='1mo')

Failed to get ticker 'MSFT' reason: Expecting value: line 1 column 1 (char 0)
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['MSFT']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [93]:
yf.__version__

'0.2.38'

In [94]:
import yfinance as yf

yf.pdr_override()  # pandas datareader 사용 시 필요
ticker = yf.Ticker("MSFT")
df = ticker.history(period="1mo")
print(df.head())

Failed to get ticker 'MSFT' reason: Expecting value: line 1 column 1 (char 0)
MSFT: No price data found, symbol may be delisted (period=1mo)

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [95]:
df = yf.download("MSFT", period="1mo", progress=False, threads=False)
print(df)

Failed to get ticker 'MSFT' reason: Expecting value: line 1 column 1 (char 0)

1 Failed download:
['MSFT']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []